{# Project Template #}

{% extends "_layout" %}

{% block main %}
			<div class="row project">
				<div class="span10 offset1">
					{% if entry.videoPhotos == 'video' %}

						<div class="video">
							{{ entry.videoLink }}
						</div>

					{% else %}

						<div class="slideshow">
							{% for image in entry.projectImages %}
							<img src="{{ image.getUrl('projectImages') }}" width="1000" height="600">
							{% endfor %}
						</div>
						<div class="slidenav">
							<div class="prev"><</div>
							<div class="next">></div>
						</div>

					{% endif %}
				</div>
				<div class="span8 offset2 info">
					<h1>{{ entry.title }}</h1>
					{{ entry.projectDescription }}
					<a href="{{ siteUrl }}" class="backtohome">Back to Homepage</a>
				</div>
			</div>
{% endblock %}
